.fade-in {
  animation: fadeIn ease 9s;
  -webkit-animation: fadeIn ease 8s;
  -moz-animation: fadeIn ease 11s;
  -o-animation: fadeIn ease 11s;
  -ms-animation: fadeIn ease 11s;

}
.animated {
  animation-duration: 4s !important;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  28% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#container {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 100%;
}
.centerimg{
  width: 300px;
}

.box {
  /* width: 300px; */
  margin: 5px;
  max-width: 511px;
  text-align: center;     /* will center text in <p>, which is not a flex item */
}
.year{
  color: white;
  font-family: conthrax-sb;
}
.notice{
  font-family: conthrax-sb;
}
@media screen and (min-width: 480px) {
  .notice{
    text-align: justify;
  }
}