.fade-in {
  align-content: center;
  animation: fadeIn ease 9s;
  -webkit-animation: fadeIn ease 11s;
  -moz-animation: fadeIn ease 11s;
  -o-animation: fadeIn ease 11s;
  -ms-animation: fadeIn ease 11s;
  margin-top: 50px;
}
.animated {
  animation-duration: 10s !important;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}
.img-responsive {
  width: 250px;
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: none !important;
    max-width: none !important;
  }
}
@media (max-width: 550px) {
  .img-responsive {
    width: 200px;
  }
  .fade-in {
    margin-top: 100px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  28% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
